<header class="navbar navbar-fixed-top navbar-inverse">
  <nav class="navbar-inner">
    <div class="container">
      <%= link_to "nerdy car app", root_path, :class => 'brand' %>
      <div class="pull-right">
        <%= render 'layouts/navigation' %>
      </div>
    </div>
  </nav>
</header>
